In [2]:
import tensorflow as tf # type: ignore
import matplotlib
import pandas 
import keras

In [3]:
print(keras.__version__)

3.4.1

In [6]:
import os
os.makedirs(os.path.join('.', 'data'), exist_ok=True)
data_file = os.path.join('.', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('''NumRooms,RoofType,Price
NA,NA,127500
2,NA,106000
4,Slate,178100
NA,NA,140000''')

In [10]:
import pandas as pd
df = pd.read_csv(data_file)
df

   NumRooms RoofType   Price
0       NaN      NaN  127500
1       2.0      NaN  106000
2       4.0    Slate  178100
3       NaN      NaN  140000